Repository kaylendog/valocoach: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema, eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"$schema": "https://json.schemastore.org/lintstagedrc.schema",
	"*.{c,m}?{js,ts}": ["eslint --fix", "prettier --write"],
	"*.{js,ts}x": ["eslint --fix", "prettier --write"],
	"*.{css,scss}": ["stylelint --fix", "prettier --write"],
	"*.{json,md,ya?ml}": ["prettier --write"]
}

feat: create server package
  services/server/LICENSE-AGPL-3.0
  services/server/package.json
Due: prettier --write

docs: add GPL license
  LICENSE-GPL-3.0
Due: none

docs: add README and license fields
  README.md
  package.json
Due: prettier --write

feat: scaffold nestjs app
  services/server/README.md
  services/server/nest-cli.json
  services/server/package.json
  services/server/src/app.controller.spec.ts
  services/server/src/app.controller.ts
  services/server/src/app.module.ts
  services/server/src/app.service.ts
  services/server/src/main.ts
  services/server/test/app.e2e-spec.ts
  services/server/test/jest-e2e.json
  services/server/tsconfig.build.json
  services/server/tsconfig.json
Due: prettier --write

chore: setup eslint
  .eslintrc.js
  .eslintrc.json
  .gitignore
  .vscode/settings.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/server/package.json
  services/server/src/app.controller.spec.ts
  services/server/src/app.controller.ts
  services/server/src/app.module.ts
  services/server/src/app.service.ts
  services/server/src/main.ts
  services/server/test/app.e2e-spec.ts
  services/server/test/jest-e2e.json
  services/server/tsconfig.build.json
  services/server/tsconfig.json
  tsconfig.base.json
  turbo.json
Due: prettier --write

feat: add prisma and api packages
  packages/.DS_Store
  packages/api/package.json
  packages/api/src/context.ts
  packages/api/src/index.ts
  packages/api/src/server.ts
  packages/api/tsconfig.json
  packages/prisma/package.json
  packages/prisma/prisma/schema.prisma
  packages/prisma/src/index.ts
  packages/prisma/tsconfig.json
Due: prettier --write

feat: add basic next app
  apps/website/next-env.d.ts
  tsconfig.base.json
Due: prettier --write

chore: remove directory attributes file
  .gitignore
  packages/.DS_Store
Due: none

feat: add basic next app
  .eslintrc.js
  .lintstagedrc.json
  apps/website/.eslintrc.json
  apps/website/.gitignore
  apps/website/next.config.js
  apps/website/package.json
  apps/website/postcss.config.js
  apps/website/public/next.svg
  apps/website/public/vercel.svg
  apps/website/src/app/favicon.ico
  apps/website/src/app/globals.css
  apps/website/src/app/layout.tsx
  apps/website/src/app/page.tsx
  apps/website/tailwind.config.ts
  apps/website/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, stylelint --fix

docs: update README, add CONTRIBUTING
  CONTRIBUTING.md
  README.md
Due: prettier --write

chore: add nvmrc configuration file
  .nvmrc
Due: none

feat: boostrap basic nest server
  .eslintrc.js
  apps/website/tsconfig.json
  package.json
  packages/api/package.json
  packages/api/src/context.ts
  packages/api/src/index.ts
  packages/api/src/server.ts
  packages/api/src/status.ts
  packages/prisma/package.json
  pnpm-lock.yaml
  services/server/nest-cli.json
  services/server/package.json
  services/server/src/app.module.ts
  services/server/src/app.service.ts
  services/server/src/common/common.module.ts
  services/server/src/common/providers/config.service.ts
  services/server/src/common/providers/prisma.service.ts
  services/server/src/config/config.interface.ts
  services/server/src/config/configuration.ts
  services/server/src/config/envs/default.ts
  services/server/src/config/envs/development.ts
  services/server/src/config/index.ts
  services/server/src/status/status.controller.ts
  services/server/src/status/status.module.ts
  services/server/src/utils/version.ts
  services/server/tsconfig.json
Due: prettier --write
